:root{
    --dark-theme-background-color: #010D30;
    --dark-theme-text-color: #C8DCFE;
    --dark-theme-link-color: #ffcc00;
}

body{
    background-color: var(--dark-theme-background-color);
}

hr{
    justify-content: center;
    background-color: var(--dark-theme-text-color);
    border-style: none;
    height: 2px;
    max-width: 90%;
}

/*           IDs            */
/* ------------------------ */
/* Start of Book Icon */

/*End of Book Icon */

/* Start of Top Nav Bar Style */

.__topNav__{
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.__topNav__ a{
    text-decoration: none;
    color: var(--dark-theme-text-color);
    font-size: 20px;
    margin-right: 10px;
    
}

.__topNav__ a:hover{
    color: var(--dark-theme-link-color);
}

.__topNav__ #bookIcon{
    top: 30px;
}

/* End of Top Nav Bar Style */

