:root{

    --dark-theme-background-color: hsl(225, 96%, 10%);
    --dark-theme-background-disable-color: #808080;
    --dark-theme-text-color: #C8DCFE;
    --dark-theme-disable-text-color: #ffffff;
    --dark-theme-link-color: #fbe600;
}

/*           >>> - SELECTORS - <<<            */
/* ------------------------------------------ */

*{
    margin: 0;
}

body{
    background-color: var(--dark-theme-background-color);
    padding: 2%;
    justify-content: center;
}

hr{
    justify-content: center;
    background-color: var(--dark-theme-text-color);
    border-style: none;
    height: 2px;
    max-width: 100%;
}

/*           >>> - CLASSES - <<<            */
/* ---------------------------------------- */
/* Start of Top Nav Bar Style */

.__topNav__{
    width: 100%;
    display: flex;
    align-items: center;
}

.__navItemContainer__{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.__navItemContainer__ img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.__navItemContainer__:hover img{
    width: 20px;
    height: 20px;
}

.__topNav__ a{
    text-decoration: none;
    color: var(--dark-theme-text-color);
    font-size: 20px;
    display: flex;
}

.__topNav__ a:hover{
    color: var(--dark-theme-link-color);
}

.__topNav__ #bookIcon{
    top: 30px;
}

.__topNav__ .__navLoginDiv__{
    background-color: var(--dark-theme-background-disable-color);
    height: 20px;
    padding: 1%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.__topNav__ .__navLoginDiv__ img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.__topNav__ .__navLoginDiv__:hover img{
    width: 20px;
    height: 20px;
}

.__topNav__ .__navLoginDiv__ a{
    color: var(--dark-theme-disable-text-color);
    font-size: 16px;
}

.__topNav__ .__navLoginDiv__ a:hover{
    color: var(--dark-theme-link-color);
}
/* End of Top Nav Bar Style */

/* Start of Search Bar Style */

.__searchBarContainer__{
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    background-color: var(--dark-theme-text-color);
    border-radius: 20px;
}

.__searchBarContainer__:hover{
    background-color: #9fbcef;
}

.__searchBarContainer__ img{
    width: 16px;
    height: 16px;
}

.__searchBarContainer__ #__searchBar__{

    width: 80%;
    height: 90%;
    border: 0;
    background-color: var(--dark-theme-text-color);
    border-style: none;
    margin-left: 8px;
}

.__searchBarContainer__:hover #__searchBar__{
    background-color: #9fbcef;
}

#__searchBar__:focus{
    outline: none;
    color: var(--dark-theme-background-disable-color);
}
/* End of Search Bar Style */

/* Start of Banner Style */

.__bannersContainer__{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.__bannersContainer__ button{
    
    color: white;
    background-color: var(--dark-theme-background-color);
    border-style: none;
    font-size: 30px;
}

.__bannersContainer__ button:hover{
    color: var(--dark-theme-link-color);
    cursor: grab;
}

.__bannersContainer__ .__banner__{
    width: 700px;
    height: 100%;
    border-radius: 50px;
}

.__bannersContainer__ .__banner__:hover{

    width: 710px;
    border-radius: 45px;
    transition: 1s;
}

.__bannersContainer__ .__banner__:not(:hover){
    transition: 1s;
}

/* End of Banner Style */

/* Start of New Fiction Section Style */
.__newFictionsContainer__{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    max-width: 100%;
    max-height: 210px;
    color: var(--dark-theme-text-color);
}

.__newFictionsContainer__ img{
    width: 150px;
    height: 200px;
}

/* End of New Fiction Section Style */

/* Start of Footer Style */
.__contactContainer__{
    margin-top: 20px;
    max-width: 100%;
    color: var(--dark-theme-disable-text-color);
    align-items: center;
    justify-content: center;
    background-color: var(--dark-theme-background-disable-color);
    padding: 2%;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 20px;
}

.__contactContainer__ a{
    text-decoration: none;
    color: var(--dark-theme-link-color);
}
/* End of Footer Style */

