  <!--Start of top nav bar-->
      <nav class="__topNav__">

        
        <div class="__navItemContainer__">
          <i class="bi bi-book __navIcon__"></i>
          <a href="./pages/projects.html" target="_blank">Projects</a>
        </div>
        <div class="__navItemContainer__">
          
          <i class="bi bi-vector-pen __navIcon__"></i>
          <a  href="#">Publish a Book</a>
        </div>

        <div class="__navLoginDiv__">
          <i class="bi bi-person-circle __loginNavIcon__"></i>
          <a href="#">Login</a>
        </div>

      </nav>
      <!--End of top nav bar-->

      <hr class="divider">

      <!-- Start of Search Bar-->
      <div class="__searchBarContainer__">

        <i class="bi bi-search" style="color: #808080"></i>
        <input type="text" name="search bar" id="__searchBar__" placeholder="Search">

      </div>
      <!-- End of Search Bar-->
