<header class="__header__">
      
  <!--Start of top nav bar-->
  <nav class="__topNavMenu__">


    <!-- >>> MENU <<< -->
    
    <ul id="__menu__">

      <li class="__menuItem__">
        <h1 class="__illusiaLogo__">ILLUSIA</h1>
      </li>
      <li class="__menuItem__">
        <i class="bi bi-book __menuItemIcon__"></i>
        <a href="./pages/projects.html" target="_blank">Projects</a>
      </li>

      <li class="__menuItem__">
        
        <i class="bi bi-vector-pen __menuItemIcon__"></i>
        <a  href="#">Publish a Book</a>

      </li>

      <li id="__menuLoginItem__">
        <i class="bi bi-person-circle __menuItemIcon__"></i>
        <a href="#">Login</a>
      </li>

    </ul>
    <hr class="divider">
  </nav>
  <!--End of top nav bar-->
